In [8]:
import pandas as pd
import requests, json, re
from parsel import Selector
import requests
#from requests import Request
from bs4 import BeautifulSoup
import re
import urllib.request

### Premier League

In [20]:
url = 'https://www.marathonbet.com/en/popular/Football/England+-+21517'


req = urllib.request.Request(url, headers= {"User-Agent": "Mozilla/5.0"})    
html = urllib.request.urlopen(req)
dfs = pd.read_html(html)         
#df = dfs[3]

In [42]:
dfs[2]

,0,1,2,3,4,5,6,7
0,1. Troyes 04 Nov 20:00 2. Auxerre,504.0,1.84,1.84,3.74,3.74,4.2,4.2
1,1. Troyes,NaN,04 Nov 20:00,NaN,NaN,NaN,NaN,NaN
2,2. Auxerre,NaN,04 Nov 20:00,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,+504,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#df[0][2][4:]
j = 2
while j<=len(dfs)-1:
    try:
        team1 =  dfs[j][0][1][4:]
        team2 = dfs[j][0][2][4:]
        team1_odds = dfs[j][2][0]
        team2_odds  = dfs[j][6][0]
        draw_odds = dfs[j][4][0]
        if team1=='Manchester United' or team2=='Manchester United':
            print(team1+ ':'  + str(team1_odds) + ':'  + str(draw_odds)  + ' ' + team2+ ':'  + str(team2_odds))
        j+=3
    except:
        j+=3
        continue

Aston Villa:3.60:3.74 Manchester United:2.04
Fulham:4.35:4.15 Manchester United:1.77

### Ligue1

In [38]:
url = 'https://www.marathonbet.com/en/popular/Football/France/Ligue+1+-+21533'


req = urllib.request.Request(url, headers= {"User-Agent": "Mozilla/5.0"})    
html = urllib.request.urlopen(req)
dfs = pd.read_html(html)         
#df = dfs[3]


#df[0][2][4:]
j = 2
while j<=len(dfs)-1:
    try:
        team1 =  dfs[j][0][1][4:]
        team2 = dfs[j][0][2][4:]
        team1_odds = dfs[j][2][0]
        team2_odds  = dfs[j][6][0]
        draw_odds = dfs[j][4][0]
        if team1=='Paris Saint-Germain' or team2=='Paris Saint-Germain':
            print(team1+ ':'  + str(team1_odds) + ':'  + str(draw_odds)  + ' ' + team2+ ':'  + str(team2_odds))
        j+=3
    except:
        j+=3
        continue

Lorient:9.10:5.85 Paris Saint-Germain:1.3
Paris Saint-Germain:1.095:11.0 Auxerre:22.0

### Bundesliga

In [ ]:
url = 'https://www.marathonbet.com/en/popular/Football/Germany/Bundesliga+-+22436'


req = urllib.request.Request(url, headers= {"User-Agent": "Mozilla/5.0"})    
html = urllib.request.urlopen(req)
dfs = pd.read_html(html)         
#df = dfs[3]


#df[0][2][4:]
j = 2
while j<=len(dfs)-1:
    try:
        team1 =  dfs[j][0][1][4:]
        team2 = dfs[j][0][2][4:]
        team1_odds = dfs[j][2][0]
        team2_odds  = dfs[j][6][0]
        draw_odds = dfs[j][4][0]
        if team1=='Bayern Munich' or team2=='Bayern Munich':
            print(team1+ ':'  + str(team1_odds) + ':'  + str(draw_odds)  + ' ' + team2+ ':'  + str(team2_odds))
        j+=3
    except:
        j+=3
        continue

### La-Liga

In [37]:
url = 'https://www.marathonbet.com/en/popular/Football/Spain/Primera+Division+-+8736'


req = urllib.request.Request(url, headers= {"User-Agent": "Mozilla/5.0"})    
html = urllib.request.urlopen(req)
dfs = pd.read_html(html)         
#df = dfs[3]


#df[0][2][4:]
j = 2
while j<=len(dfs)-1:
    try:
        team1 =  dfs[j][0][1][4:]
        team2 = dfs[j][0][2][4:]
        team1_odds = dfs[j][2][0]
        team2_odds  = dfs[j][6][0]
        draw_odds = dfs[j][4][0]
        if team1=='Real Madrid' or team2=='Real Madrid':
            print(team1+ ':'  + str(team1_odds) + ':'  + str(draw_odds)  + ' ' + team2+ ':'  + str(team2_odds))
        j+=3
    except:
        j+=3
        continue

Rayo Vallecano:6.25:4.45 Real Madrid:1.62
Real Madrid:1.161:8.1 Cadiz:15.25

In [ ]:
#pip install st-card
#pip install hydralit-components